
body{
    background-color: peru;
}

#content-container{
    background-color: orangered;
}

#devicelist{
    background-color: aquamarine;
}

.device-list-item{
    background-color: white;
    padding: 1em;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

#graph{
    background-color: yellowgreen;
}

.row {
    display: flex;
  }
  
.maincolumn {
    flex: 50%;
}